/* General Styles */
html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Pastikan html dan body mengambil seluruh tinggi layar */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: #2388ed;
}

/* Form Container */
.form-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
}

/* Form Group */
.form-group {
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    color: #666;
    margin-bottom: 8px;
    display: block;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    outline: none;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

input:focus, textarea:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.2);
}

/* Button Styles */
button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #45a049;
}

textarea {
    resize: none;
    height: 100px;
}

/* Responsive */
@media (max-width: 500px) {
    .form-container {
        width: 90%;
    }

    h2 {
        font-size: 24px;
    }
}
